body {
  background-color: #f9f9f9;
}
.parallax-container {
  text-align: center;
  color: #eeeeee;
}
.parallax-container h1 {
  margin: 50px 0 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
}
.parallax-container h1 span {
  font: 700 60px/1 "Dancing Script", cursive;
  display: block;
}
.parallax-container h2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  font-weight: 400;
  padding: 20px;
  color: #fff;
}
.logo {
  border: solid 1px #fff;
  padding: 4px;
  font-weight: 400;
  margin-left: 20px;
}
.box__title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.box__content {
  color: #454545;
  text-align: center;
  padding: 20px;
}
.footer {
  color: #fff;
  text-align: center;
  padding: 10px 0;
  background: #263238;

  left: 0;
  bottom: 0;
  width: 100%;
}
.footer p {
  opacity: 0.65;
}

/* Dashboard style */
.side-bar {
  color: whitesmoke;
  text-align: center;
}
